<div>
  <section id="cover" class="min-vh-100">
    <div id="cover-caption">
      <div class="container">
        <div class="row text-white">
          <div class="col-xl-5 col-lg-6 col-md-8 col-sm-10 mx-auto text-center form p-4">
            <div class="px-2">
              <form  class="justify-content-center">
                <div class="form-group">
                  <p>Welcome to Paris nails</p>
                </div>
                <div class="form-group">
                  <p> Here you can find exclusive offers! </p>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
