<!--<div class="card d-inline-block m-2 product" style="width: 18rem;">-->
<!--  <img src="{{product.imageUrls[0]}}" class="card-img-top" alt="...">-->
<!--  <div class="card-body">-->
<!--    <h5 class="card-title">{{product.name}}</h5>-->
<!--    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>-->
<!--    <p class="card-text">{{product.price}}€</p>-->
<!--    <a [routerLink]="['/product/edit', product.id]" class="btn btn-warning mr-2">Edit</a>-->
<!--    <button (click)="deletePrById(product)" class="btn btn-danger mr-2">Remove</button>-->
<!--    <button (click)="buyPrById(product.id)" class="btn btn-info ml-auto">Buy</button>-->
<!--  </div>-->
<!--</div>-->



